<form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="edit-profile">
        <h3>Name</h3>
        <input type="text" name="first_name" value="{{ user.first_name }}" maxlength="30" id="id_first_name">
        <h3>Username</h3>
        <input type="text" name="username" value="{{ user.username }}" maxlength="150" required="" id="id_username">
        <h3>Bio</h3>
        <input type="text" name="bio" value="{{ user.profile.bio }}" maxlength="400" id="id_bio">
        <h3>Email</h3>
        <input type="email" name="email" value="{{ user.email }}" maxlength="254" id="id_email">
        <button type="submit">Submit</button>
      </div>
    </form>